@import url("normalize.min.css");

:root {
  --palette-background-color: #fbfea5;
  --palette-font-color: #000;
  --palette-highlight-color: #f49493;
  --palette-border-color: #9394fe;
}

html {
  width: 300px;
  min-height: 300px;
  padding: 15px;

  background-color: var(--palette-background-color);
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@keyframes walk {
  from {
    transform: translate(-100px);
  }
  to {
    transform: translate(400px);
  }
}

@keyframes walk-flipped {
  from {
    transform: translate(-100px) scaleX(-1);
  }
  to {
    transform: translate(400px) scaleX(-1);
  }
}

.walking {
  position: absolute;
  top: 5px;
  left: 5px;

  z-index: -1;

  height: 25px;

  animation: walk 10s linear infinite;
}

.walking.horizontal-flip {
  animation: walk-flipped 10s linear infinite;
}

h1 {
  color: var(--palette-font-color);
  text-shadow: 2px 1px 5px var(--palette-highlight-color);
}

h3 {
  color: var(--palette-font-color);
  text-shadow: 1px 1px 5px var(--palette-highlight-color);
}

h1,
h3 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#simple-pastebin {
  width: calc(100% - 10px);
  min-height: 300px;

  resize: none;

  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  border: 2px solid var(--palette-border-color);
  border-radius: 5px;

  font-size: 1.25em;
}
